<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Quizzes</title>

  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
  >

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

  <script src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="/styles/myQuiz.css" />
</head>
<body>
  <%- include('partials/_header') %>
  <!-- middle -->
  <main>
    <section class="my-quizzes">
    <div id="title">
      <h1 class="text-centered">My Quizzes</h1>
    </div>
    <span class="list-item">
      <p class="list-item-main">Quiz Name</p>
      <p class="list-item-main">Score</p>
      <p class="list-item-main">Take</p>
      <p class="list-item-main">Rating</p>
    </span>
    <!-- Cycle through my quizzes to display them -->
    <%for (const quiz of quizzes) { %>
    <span class="list-item">
      <p class="list-item-text"><%= quiz.title %></p>
      <p class="list-item-text"><%= quiz.scoreString %></p>
      <p class="list-item-text"><a href="/takeQuiz/<%= quiz.id %>">Take Quiz</a></p>
      <!-- Check if there is a quiz rating or not, if so display the rating, if not display n/a-->
      <% if(quiz.rating) { %>
        <p class="list-item-text"><%= quiz.rating %> <i class="fa-solid fa-star" style="color: #fcc045;"></i></p>
      <% } else { %>
        <p class="list-item-text">n/a</p>
      <% }  %>
    </span>
    <% } %>

    <% if(quizzes.length === 0){ %>
      <span>
        <p class ="text-centered"> NONE5 </p>
      </span>
    <% } %>
  </section>
  <section class="favourite-quizzes">
    <h1 class="text-centered">Favourite Quizzes</h1>
    <span class="list-item">
      <p class="list-item-main">Quiz Name</p>
      <p class="list-item-main">Author</p>
      <p class="list-item-main">Take</p>
      <p class="list-item-main">Rating</p>


    </span>
    <!-- Cycle through favourites to display them -->
    <%for (const quiz of favourites) { %>
    <span class="list-item">
      <p class="list-item-text"><%= quiz.title %></p>
      <p class="list-item-text"><%= quiz.username %></p>
      <p class="list-item-text"><a  href ="/takeQuiz/<%= quiz.id %>">Take Quiz</a></p>
      <!-- Check if there is a quiz rating or not, if so display the rating, if not display n/a-->
      <% if(quiz.rating) { %>
        <p class="list-item-text"><%= quiz.rating %> <i class="fa-solid fa-star" style="color: #fcc045;"></i></p>
      <% } else { %>
        <p class="list-item-text">n/a</p>
      <% }  %>
    </span>
    <% }
    if(favourites.length === 0){ %>
      <span>
        <p class = "text-centered"> NONE </p>

      </span>
    <% } %>
  </section>
  </main>
  <!-- Bootstrap -->
  <%- include('partials/_bootstrap') %>
</body>
</html>
