<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Quizzes</title>

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

  <script src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="/styles/myQuiz.css" />
</head>
<body>
  <%- include('partials/_header') %>
  <!-- middle -->
  <main>
    <div id="title">
      <h1 class="text-centered">My Quizzes</h1>
    </div>
    <span class="list-item">
      <p class="list-item-main">Quiz Name</p>
      <p class="list-item-main">Score</p>
      <p class="list-item-main">Take</p>
      <p class="list-item-main">Rating</p>
    </span>
    <!-- Cycle through my quizzes to display them -->
    <%for (const quiz of quizzes) { %>
    <span class="list-item">
      <p class="list-item-text"><%= quiz.title %></p>
      <p class="list-item-text"><%= quiz.scoreString %></p>
      <p class="list-item-text"><a href="/takeQuiz/<%= quiz.id %>">Take Quiz</a></p>
      <!-- Check if there is a quiz rating or not, if so display the rating, if not display n/a-->
      <% if(quiz.rating) { %>
        <p class="list-item-text"><%= quiz.rating %></p>
      <% } else { %>
        <p class="list-item-text">n/a</p>
      <% }  %>
    </span>
    <% } %>

    <% if(quizzes.length === 0){ %>
      <span>
        <p class ="text-centered"> NONE5 </p>
      </span>
    <% } %>
    <h1 class="text-centered">Favourite Quizzes</h1>
    <span class="list-item">
      <p class="list-item-main">Quiz Name</p>
      <p class="list-item-main">Author</p>
      <p class="list-item-main">Take</p>
      <p class="list-item-main">Rating</p>


    </span>
    <!-- Cycle through favourites to display them -->
    <%for (const quiz of favourites) { %>
    <span class="list-item">
      <p class="list-item-text"><%= quiz.title %></p>
      <p class="list-item-text"><%= quiz.username %></p>
      <p class="list-item-text"><a  href ="/takeQuiz/<%= quiz.id %>">Take Quiz</a></p>
      <!-- Check if there is a quiz rating or not, if so display the rating, if not display n/a-->
      <% if(quiz.rating) { %>
        <p class="list-item-text"><%= quiz.rating %></p>
      <% } else { %>
        <p class="list-item-text">n/a</p>
      <% }  %>
    </span>
    <% }
    if(favourites.length === 0){ %>
      <span>
        <p class = "text-centered"> NONE </p>

      </span>
    <% } %>

  </main>
  <!-- footer -->
  <div>
  </div>
</body>
</html>
