<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Quizzes</title>

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>
    <link rel="stylesheet" href="/styles/popup.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/copyToClipboard.js"></script>
    <script defer src="/scripts/popupDelete.js"></script>


</head>

<body>
  <%- include('partials/_header') %>
    <!-- middle -->
    <main>
      <section class="my-quizzes">
        <div id="title">
          <h1 class="text-centered">My Quizzes</h1>
        </div>
        <span class="list-item">
          <p class="list-item-main">Quiz Name</p>
          <p class="list-item-main">Score</p>
          <p class="list-item-main">Rating</p>
          <p class="list-item-main">Copy URL</p>
          <p class="list-item-main">Delete</p>
        </span>
        <!-- Cycle through my quizzes to display them -->
        <%for (const quiz of quizzes) { %>
          <span class="list-item">
            <p class="quiz-name list-item-text"><a href="/takeQuiz/<%= quiz.id %>">
                <%= quiz.title %>
              </a></p>
            <p class="list-item-text">
              <%= quiz.scoreString %>
            </p>
            <!-- Check if there is a quiz rating or not, if so display the rating, if not display n/a-->
            <% if(quiz.rating) { %>
              <p class="list-item-text">
                <%= quiz.rating %> <i class="fa-solid fa-star" style="color: #fcc045;"></i>
              </p>
              <% } else { %>
                <p class="list-item-text">n/a</p>
                <% } %>
                  <button class="list-item-text clipboard-button" data-copy="/takeQuiz/<%= quiz.id %>"><i
                      class="fa-solid fa-copy"></i></button>
                  <button class="list-item-text delete-quiz-button" data-quizid="<%= quiz.id %>"><i
                      class="fa-solid fa-x"></i></button>
          </span>
          <% } %>

            <% if(quizzes.length===0){ %>
              <span>
                <p class="text-centered"> NONE </p>
              </span>
              <% } %>
      </section>
      <section class="favourite-quizzes">
        <h1 class="text-centered">Favourite Quizzes</h1>
        <span class="list-item">
          <p class="list-item-main">Quiz Name</p>
          <p class="list-item-main">Quiz Author</p>
          <p class="list-item-main">Rating</p>
          <p class="list-item-main">Copy URL</p>


        </span>
        <!-- Cycle through favourites to display them -->
        <%for (const quiz of favourites) { %>
          <span class="favourites-item list-item" data-quizid = "<%= quiz.id %>">
            <p class="list-item-text"><a href="/takeQuiz/<%= quiz.id %>">
                <%= quiz.title %>
              </a></p>
            <p class="list-item-text">
              <%= quiz.email %>
            </p>
            <!-- Check if there is a quiz rating or not, if so display the rating, if not display n/a-->
            <% if(quiz.rating) { %>
              <p class="list-item-text">
                <%= quiz.rating %> <i class="fa-solid fa-star" style="color: #fcc045;"></i>
              </p>
              <% } else { %>
                <p class="list-item-text">n/a</p>
                <% } %>
                  <button class="clipboard-button list-item-text" data-copy="/takeQuiz/<%= quiz.id %>"><i
                      class="fa-solid fa-copy"></i></button>
          </span>
          <% } if(favourites.length===0){ %>
            <span>
              <p class="text-centered"> NONE </p>

            </span>
            <% } %>
      </section>
      <div class="popup-container">
        <div class="popup-modal">
          <h2 class="popup-modal-header">Are you sure?</h2>
          <div class="popup-modal-body">
            <p>Delete quiz:</p>
            <p id="delete-text-field">This is a quiz</p>
          </div>
          <div class="flex-row popup-modal-footer">
            <button id="delete-popup-confirm" class="btn btn-primary">Yes</button>
            <button id="delete-popup-close" class="btn btn-primary">No</button>
          </div>

        </div>
      </div>
    </main>
    <!-- Bootstrap -->
    <%- include('partials/_bootstrap') %>
</body>

</html>
