<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Quizzes</title>

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <!-- middle -->
  <main>
    <div id="title">
      <h1 class="text-centered">My Quizzes</h1>
    </div>
    <span class="list-item">
      <p class="list-item-main">Quiz Name</p>
      <p class="list-item-main">Score</p>
      <p class="list-item-main">Take</p>
      <p class="list-item-main">Rating</p>
    </span>

    <%for (const quiz of quizzes) { %>
    <span class="list-item">
      <p class="list-item-text"><%= quiz.title %></p>
      <% if(quiz.highest_score) { %>
        <p class="list-item-text"><%= quiz.highest_score %> / <%= quiz.out_of %></p>
      <% } else { %>
        <p class="list-item-text">N/A</p>
      <% } %>
      <p class="list-item-text"><a href="/takeQuiz/<%= quiz.id %>">Take Quiz</a></p>
      <p class="list-item-text"><%= quiz.rating %></p>
    </span>
    <% }
    if(quizzes.length === 0){ %>
      <span>
        <p class ="text-centered"> NONE </p>
      </span>
    <% } %>
    <h1 class="text-centered">Favourite Quizzes</h1>
    <span class="list-item">
      <p class="list-item-main">Quiz Name</p>
      <p class="list-item-main">Score</p>
      <p class="list-item-main">Take</p>
      <p class="list-item-main">Rating</p>
    </span>
    <%for (const quiz of favourites) { %>
    <span class="list-item">
      <p class="list-item-text"><%= quiz.title %></p>
      <% if(quiz.highest_score) { %>
        <p class="list-item-text"><%= quiz.highest_score %> / <%= quiz.out_of %></p>
      <% } else { %>
        <p class="list-item-text">N/A</p>
      <% } %>
      <p class="list-item-text"><a href ="/takeQuiz/<%= quiz.id %>">Take Quiz</a></p>
      <p class="list-item-text"><%= quiz.rating %></p>
    </span>
    <% }
    if(favourites.length === 0){ %>
      <span>
        <p class = "text-centered"> NONE </p>
      </span>
    <% } %>
  </main>
  <!-- footer -->
  <div>
  </div>
</body>
</html>
