<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Public Quizzes</title>

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/copyToClipboard.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <!-- middle -->
  <main>
    <!-- <img class="background-texture" src="../../images/natural-paper.png"> -->
    <h1 class="text-centered">Public Quizzes</h1>
    <span class="list-item">
      <p class="list-item-main">Quiz Name</p>
      <p class="list-item-main">Quiz Author</p>
      <p class="list-item-main">Take</p>
      <p class="list-item-main">Rating</p>
    </span>
    <% for (const quiz of quizzes) { %>
    <span class="list-item">
      <p class="list-item-text"><%= quiz.title %></p>
      <p class="list-item-text"><%= quiz.email %></p>
      <p class="list-item-text"><a href="/takeQuiz/<%= quiz.id %>">Take Quiz</a></p>
      <% if(quiz.rating) { %>
        <p class="list-item-text"><%= quiz.rating %></p>
      <% } else { %>
        <p class="list-item-text">N/A</p>
      <% }  %>
      <button class="clipboard-button list-item-text" data-copy="/takeQuiz/<%= quiz.id %>"></button>
      <p></p>
    </span>
    <% }%>
  </main>
  <!-- footer -->
  <div>

  </div>
</body>
</html>
