<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Quiz Review Shared</title>

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>
  <!--Local Styling -->
  <link rel="stylesheet" href="/styles/submitQuiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>
<body>
  <!-- middle -->
  <main>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class ="submit-card d-flex flex-column align-items-center">
        <h1 class="text-centered"> QUIZ RESULTS ! </h1>
        <p> Quiz name: <%= quiz.title %></p>
        <p> COMPLETED BY: <%= user.username %></p>
        <p> Last Score: <%=result.last_score %> / <%=result.out_of %></p>
      </div>
    </div>
  </main>

  <%- include('partials/_bootstrap') %>
</body>
</html>
