<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Create Quiz</title>

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>
  <!--Local Styling -->
  <link rel="stylesheet" href="/styles/submitQuiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <!-- middle -->
  <main>
    <div class ="submit-card">
      <h1> QUIZ COMPLETE! </h1>
      <p> Quiz name: <%= quiz.title %></p>
      <p> Best Score: <%=result.highest_score %> / <%=result.out_of %></p>
      <p> Last Score: <%=result.last_score %> / <%=result.out_of %></p>
      <form action="/takeQuiz/<%= quiz.id %>" method="GET">
        <button class="submit-button form-button"> retry </button>
      </form>
    </div>
  </main>

  <!-- footer -->
  <div>

  </div>
</body>
</html>
