<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Review</title>
  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>
    <!--Local Styling -->
    <link rel="stylesheet" href="/styles/submitQuiz.css" />
    <script defer src="/scripts/shareResult.js"></script>

    <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <!-- middle -->
    <main>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="submit-card d-flex flex-column align-items-center">
          <h1 class="text-centered"> QUIZ COMPLETE! </h1>
          <p> Quiz name: <%= quiz.title %>
          </p>
          <p> Best Score: <%=result.highest_score %> / <%=result.out_of %>
          </p>
          <p> Last Score: <%=result.last_score %> / <%=result.out_of %>
          </p>
          <form class="d-flex flex-column align-items-center" action="/submitQuiz/submitReview/<%= quiz.id %>" method="POST">
            <div class="d-flex justify-content-center align-items-baseline gap-4">
              <span class="fancy-checkbox d-flex justify-content-center align-items-center gap-2">
                <i class="fa-solid fa-heart" style="color: #da5252;"></i>
                <label>Favourited</label>
                <input type="checkbox" id="fav-button" name="favourite" checked="<%= result.favourited %>" />
              </span>
              <span class="d-flex justify-content-center align-items-center gap-2">
                <i class="fa-solid fa-star" style="color: #fcc045;"></i>
                <label>Rating</label>
                <select name="rating">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </span>
            </div>
            <button class="submit-button form-button mt-4"> done </button>
          </form>
          <button class="share-button" data-url="/shareResults/<%- quiz.id %>/<%- user.id %>">
            <i class="fas fa-share-alt">
            </i>
          </button>

        </div>
      </div>
    </main>
    <%- include('partials/_bootstrap') %>
</body>

</html>
