<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/takeQuiz.css" />
  <title>Create Quiz</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <!-- middle -->
  <main>
    <form action="/submitQuiz/<%= quizID %>" method="POST">
      <header class="create-quiz-header" id="take-quiz">
        <h1><%= quiz.title %></h1>
      </header>
      <% let count = 1;
      for(const question of questions){ %>
      <div class="question-card">
        <div class="question-container">
          <label>Question <%= count %>:</label>
          <p><%= question.question_text %></p>
        </div>
        <% let answerCount = 1;
          for(const answer of answers) {
          if(answer.question_id === question.id) { %>
        <div class="answer-container">
          <p><%= answerCount %>: </p>
          <p class = "answer-text-field"><%= answer.text %></p>
          <input class="answer-checkbox" name="<%- question.id %>" value="<%- answer.id %>" type= "radio">
        </div>
        <% answerCount ++; } } %>
      </div>
      <% count ++; } %>
      <footer class="create-quiz-footer">
          <button class="submit-button">submit quiz</button>
      </footer>
    </form>
  </main>

  <%- include('partials/_bootstrap') %>
</body>
</html>
